.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(18, 154, 199);
  color: black;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.1),
  inset -3px -3px 5px rgba(241, 255, 255, 0.5);

}
